<div class="todos">
    <div class="container todo-container">
        <h1 class="mt-5 text-success">Todos</h1>

        <ul class="todo-list">
            <app-to-do-list-item *ngFor="let item of todoArray" [item]="item" (deleteTodoEvent)="deleteTodo($event)"></app-to-do-list-item>
        </ul>

        <div class="todo-input">
            <input type="text" matInput  name="todoValue" placeholder="What needs to be done?" [(ngModel)]="inputValue">
            <button class="btn button button--add" [disabled]="inputValue === ''" (click)="addTodo()">Add</button>
        </div>

    </div>
</div>