<div class="todos">
    <div class="container todo-container">
        <h1 class="mt-5 text-warning">Todos</h1>

        <ul class="todo-list">
            <li class="todo-item custom-checkbox">
                <div>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </div>
                <p>Todo 1</p>
                <button class="btn-close"></button>
            </li>

            <li class="todo-item custom-checkbox">
                <div>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </div>
                <p>Todo 2</p>
                <button class="btn-close"></button>
            </li>

            <li class="todo-item custom-checkbox">
                <div>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </div>
                <p>Todo 3</p>
                <button class="btn-close"></button>
            </li>

        </ul>

        <div class="todo-input">
            <input type="text" name="todoValue" placeholder="What needs to be done?">
        </div>

    </div>
</div>